* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #eee;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

header {
    padding: 0 16px;
    background-color: #686D76;
    font-family: "McLaren", cursive;
    /* margin: auto -16px; */
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    display: inline;
    padding-right: 10px;

}

.tabs{
    position: absolute;
    left: 20%;
    top: 33%;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: #ccc;
}

/* Home Page CSS */
.containner {
    display: flex;
    /* margin-top: 20px; */
}

.left-containner {
    flex: 1;
    width: 460px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /* margin-right: 16px; */
}

.right-containner {
    width: 420px;
    background-color: #F3EF9A;
    height: 90vh;
}

.bottom-containner {
    width: 100%;
    height: 230px;
    background-color: #9CE5B9;
    margin-top: 375px;
    display: flex;
    flex-direction: row;
}
.robot{
    width: 20%;
    height: 100%;
    /* background-color: red */
}
.part-measurments{
    width: 80%;
    height: 100%;
    /* background-color: blue */
}

/* Responsive styling */
@media (max-width: 1200px) {
    .containner {
        flex-direction: column;
        align-items: center;
    }

    .left-containner {
        width: 100%;
        margin-right: 0;
    }

    .right-containner {
        width: 100%;
        height: auto;
    }

    .bottom-containner {
        width: 100%;
    }
}